/* ==========================================================================
   Base
   ========================================================================== */

/*html{
  height:100%;
  margin: 0;
  padding:0;
}
*/
body {
  background-image: url('/assets/img/brillant.png');
/*  height:100%;
  margin: 0;
  padding:0;
*/}

#wrap{
  margin-top:15px;
  margin-bottom:30px;
  min-height:768px;

}
#content{

}


/* =============================================================================
   Header
   ========================================================================== */

/*.carousel-inner .item {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}*/

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }


/*header#banner div.navbar-inner */
.container > .brand {
  padding: 20px 12px 20px;
}


/* ==========================================================================
   Content
   ========================================================================== */

#content { }





/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }

.subheroes{
  margin-top: 40px;
}
.subheroes div{
  padding:4px;
  border-left:5px solid #3A89C9;
  height:160px;
  text-overflow:ellipsis;
  background-color:white;
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

@media (min-width: 767px) {
  .subheroes div{
    border-bottom:5px solid #3A89C9;
  }

  .subheroes div:nth-child(1){
    /*border-left:3px solid #F26C4F;*/
  }
}

.subheroes div p{
  padding-left:4px;
  font-size:.8rem;
}
.subheroes>div>h4{
  margin-top:0px;
  font-family: "Raleway", sans-serif;
}
.subheroes>div:nth-child(1) h4{
  font-size:20px;
}
.subheroes>div:nth-child(n+1) h4{
    font-size:16px;

}

.post-teasers{
  margin-top:40px;
  margin-bottom:40px;
}

.post-teaser{
  border-left: 2px solid #3A89C9;
  height:100%;
  padding:0px 0px 0px 0px;
  margin-left:2%;
  /*border-left: 1px solid #F26C4F;*/
  /*box-shadow: 2px 2px 6px #EDEDED;*/
  background-color: #3A89C9;

}

@media (max-width: 767px) {
  .post-teaser{
    border-bottom:5px solid white;
  }
}

.post-teaser .post-thumb{
  width:100%;
  height:100px;
}

.post-teaser img{
  float:right;

}

.post-teaser-text{
  text-overflow: ellipsis;
}

.post-teaser-text .header{
  color:white;
  padding:4px 6px;

}
.post-teaser-text .header h4{
  margin-top:5px;
  line-height:14px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-shadow: 0 1px 1px lightgrey;
  margin-top:5px;
  display: block;
}

.post-teaster-test img{
  float:left;
  clear:both;
}

.post-teaser-desc{
  color:white;
  font-size:.7rem;
  width:100%;
  height:70px;
  text-overflow: ellipsis;
  padding:4px;
  line-height:16px;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

article.hentry{
  margin-top:20px;
}

.hentry header {
  color: #1B325F;
 }
 .hentry .entry-title{
  margin-left:6px;
 }
.hentry time {
  margin-left:14px;

}
.hentry p.byline {
  margin-left:14px;

}
.hentry .entry-content {
  font-family: "Raleway", sans-serif;
  background-color:#3A89C9;
  color:white;
  padding:12px 20px;
  font-weight:500;
 }
.hentry footer {

}


.post {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color:white;
  /*box-shadow:-1px -1px 3px lightgrey;*/
}

.post .header{
  width:100%;
  height:124px;
  background-color: #3A89C9;
  color:white;
}

.post .header h2{
  font-family: "Raleway", sans-serif;
  font-weight:400;
  padding-top: 21px;
  padding-left: 9px;
  padding-bottom:10px;
  font-size:2.7rem;
  margin-bottom:4px;

}
.post .header p{
  padding-left: 15px;
  margin-bottom:2px;
}
.post .header .author{
  font-size:1.1rem;
}
.post .header .tags{
  font-style:italic;
  font-size:.9rem;
}

.post .content{
  padding:12px;
  line-height:26px;
}

/* ==========================================================================
   Single Post
   ========================================================================== */





/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }

@media (min-width: 767px) {
  .footer{
    padding:10px;
  }
}
.footer{
  background-color: #9CC4E4;
  font-size: .8rem;
  color:white;

}


.footer-wrapper{
  background-color: #9CC4E4;
  width:100%;
  height:200px;
  box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.09});
}

/* ==========================================================================
   MAP Scores Tool
   ========================================================================== */

#map-tool #grade {
  width:70px;
}

#map-tool td{
  text-align:center;
  vertical-align:middle;
  font-size:16px;
}


#map-tool td#rate-gro-ftw, td#rate-gro-wts{
  font-weight:bold;
}

#map-tool th{
  text-align:center;
  font-size:12px;
  line-height:12px;
}

#map-tool .semester{
  font-size:20px;
  padding-bottom:10px;
}

#map-tool-buttons{
  margin-top:15px;
  margin-bottom:40px;
}

#map-tool-buttons select,input{
  margin-bottom:0px;
}
#map-tool .rit{
  font-size:12px;
  text-align:center;
  margin-left:8px;
  margin-bottom:0px;
  width:55px;
}
#map-tool .rit-scores{
  width:250px;
}
#map-tool .rit:first-child{
  margin-left:0px;
}

#map-tool td input,select{
  margin-bottom:0px;
}

/* Styling for the results section at the bottom of the map tool */
#map-tool-results {
  margin-top:40px;
}
#map-tool-results thead > tr > th {
  text-align:center;
}
#map-tool-results tbody > tr > td {
  text-align:center;
}
#map-tool-results tbody tr.results td > span.numera, span.denom{
  color:#1b1b1b;
  font-size:24px;
  vertical-align:middle;
}
#map-tool-results tbody tr.results td > span.slash{
  color:#1b1b1b;
  font-size:35px;
  vertical-align:middle;
}
/*#map-tool-results tbody tr.results td.below{
  background-color:#fd3424;
}
#map-tool-results tbody tr.results td.meets{
  background-color:#fd3424;
}
#map-tool-results tbody tr.results td.aspir{
  background-color:#1cc431;
}*/



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}



/* ==========================================================================
   d3.js visualization
   ========================================================================== */

path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
